<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <!-- Navigation -->
    <% include ./partials/navbar.ejs %>

    <!-- Page Content -->
    <main class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">Welcome to In Tune In Time</h1>
        <p class="lead">Match your music to the right tempo.</p>
      </header>

      <!-- Page Features -->
      <section class="row text-center">

        <section class="col-lg-4 mb-3">
          <div class="card bg-light h-100">
            <div class="card-body">
              <h4 class="card-title">Note to Tempo</h4>
              <p class="card-text">Choose a note and get back the tempo that's in time with its frequency.</p>
            </div>
            <div class="card-footer">  
              <a href="/notes" class="card-link">Let's Try It!</a>
            </div>
          </div>
        </section>

        <section class="col-lg-4 mb-3">
          <div class="card bg-light h-100">
            <div class="card-body">
              <h4 class="card-title">Key to Notes</h4>
              <p class="card-text">Find the notes and their respective tempos for your chosen key.</p>
            </div>
            <div class="card-footer">
              <a href="/keys" class="card-link">I Need That!</a>
            </div>
          </div>
        </section>

        <section class="col-lg-4 mb-3">
          <div class="card bg-light h-100">
            <div class="card-body">
              <h4 class="card-title">Tempo to Notes</h4>
              <p class="card-text">See the two nearest "tuned" notes and tempos of your chosen tempo.</p>
            </div>
            <div class="card-footer">
              <a href="/tempos" class="card-link">Sounds Rad!</a>
            </div>
          </div>
        </section>

      </section>
      <!-- /.row -->

    </main>
    <!-- /.container -->

    <% include ./partials/baseScripts.ejs %>
  </body>
</html>